.app {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
}

.button {
  height: 150px;
  width: 150px;
  margin: 0 20px;
  border: 0;
  border-radius: 10px;
  font-size: 30px;
  &:focus {
    outline: 0;
  }
}

.startButton {
  height: 50px;
  width: 100px;
  margin: 0;
  border: 0;
  border-radius: 10px;
  font-size: 16px; 
}

.direction-column {
  flex-direction: column;
}

.flex-center {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.timer-score-container {
  flex: 0;
}
